body {
  margin: 0;
  /* font-family: "alternate-gothic-no-2-d", sans-serif; */
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f8f9fa !important; */
  background-image: url("https://cdn.wallpapersafari.com/86/51/vOC5XL.jpg");
  background-attachment: fixed;
}
a {
  text-decoration: none !important;
}
